*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.loading{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    background-color: black;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, #333);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}
.loading::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 999;
    box-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #fff,
                0 0 50px #fff,
                0 0 60px #fff,
                0 0 70px #fff,
                0 0 80px #fff,
                0 0 90px #fff,
                0 0 100px #fff;
}
.loading span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background-color: black;
}
